 @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans&family=Montserrat:wght@500&family=Outfit:wght@400;700&family=Rubik+Vinyl&family=Space+Grotesk:wght@500&family=Unbounded:wght@300&display=swap');

/* basic settings */

:root {
      /*  (active input border) */
    --Lineargradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
       /* (input errors) */
    --Red: hsl(0, 100%, 66%);


    --White: hsl(0, 0%, 100%);
    --Lightgrayishviolet: hsl(270, 3%, 87%);
    --Darkgrayishviolet: hsl(279, 6%, 55%);
    --Verydarkviolet: hsl(278, 68%, 11%);
    
    }
    
    
    /* css reset */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Space Grotesk', sans-serif;
        background-image: url('./images/bg-main-desktop.png'); 
        background-repeat: no-repeat;
    }
     
    main {
        display: flex;
        flex-flow: row ;
        justify-content: space-between;
    }

    .form-holder {
            background-color: var(--White) ;
          
           border-radius: 5%;
           margin-top: 10rem; 
           margin-left: 0rem;
           margin-right: 6rem;
           width: 450px;
         
    }

    form {
        display: flex;
        flex-flow: column;
        margin: 1rem;
        
    }
    
    .cardname,.cardnum,button, .exp,.cvc{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    
    label {
        color: var(--Verydarkviolet);
        font-size: 12px;
    }
    input {
        margin-top: 0.4rem;
        border-radius: 0.5rem;
        padding: 0.4rem;
        width: 80%;
        border: 1px solid var(--White);
        box-shadow: 1px 1px  1px 2px var(--Lightgrayishviolet) ;        
    }

 
  
  input:focus:invalid {
    outline: none;
  }
  
  /* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;
    font-size: 0.7rem;
    color: rgb(243, 28, 28);
    border-color: red;

  }
  
  .error.active {
    padding: 0.3em;
  }
      
 .expiryArea {
     display: flex;
     flex-direction: row; 
    }
    
    .yearArea {
        display: flex;
        flex-direction: row;
    }

    .yearArea input {
         margin: 0.2rem; 
         width: 100%;
        margin-top: 0.4rem;
    }
  .exp {
      width: 100%;
  }
    .cvc {
        margin-left: 0px;
        margin-right: 40px;
     
    }

    .cvc input {
        width: 70%;
    }

    button {
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 75%;
        border-color: transparent;
        margin-right: 2em;
        background-color: var(--Verydarkviolet);
        font-size: large;
        color: var(--White);
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
    }

    .button-area :hover {
        background-color: var(--Lightgrayishviolet);
    }
  

    .card-holder {
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin-top: 8rem;
        margin-left:  14.25rem;  
        align-items: flex-start;
        flex-basis: content;
    }

    .front-card {
        background-image: url('./images/bg-card-front.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 11rem;
        width:20rem;
        display: flex;
        flex-direction: column;
        color: var(--White);
        font-size: 0.9rem;
    }

    .card-logo {
        margin-left: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2.8rem;
    }


    .card-number {
        margin-left: 1.5rem;
        word-spacing: 0.2rem; 
        /* letter-spacing: 0.2rem;  */
        margin-bottom: 0.8rem; 
    }
    
    .spanNum {
        margin-right: 2rem;
    }

    .name-exp {
        display: flex;
        margin-left: 1.5rem;
        font-size: 0.8rem;
        
    }
    .card-name {
         margin-right: 7.9rem;
    }

    .back-card {
         background-image: url('./images/bg-card-back.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 4em;
        margin-top: 1.2em;
        height: 11rem;
        width:20rem;
    } 

    .cvc-number {
        margin-left: 16rem;
        margin-top: 4.9rem;
        color: var(--White);
        font-size: small;
    }
    
.success-message {
   border-color: 1px solid red;
} 
